In [12]:
#1
import pandas as pd
df = pd.read_csv(r"C:\Users\hp\Downloads\zomato_data.csv")  
shape = df.shape
print(f"The shape of the dataset is {shape}")

The shape of the dataset is (51717, 10)

In [21]:
#2
import pandas as pd
df = pd.read_csv(r"C:\Users\hp\Downloads\zomato_data.csv")
north_indian_restaurants = df[df['cuisines'].str.contains('North Indian', case=False, na=False)]
count = len(north_indian_restaurants)
print(f"Number of restaurants serving North Indian cuisine: {count}")

Number of restaurants serving North Indian cuisine: 21085

In [27]:
#3
from collections import Counter
cuisine_list = df['cuisines'].dropna().str.split(', ')
cuisine_counts = Counter([cuisine for sublist in cuisine_list for cuisine in sublist])
most_common_cuisine = cuisine_counts.most_common(1)
print(most_common_cuisine)

[('North Indian', 21085)]

In [37]:
#4
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].astype(str).str.replace(',', '')
df['approx_costfor_two_people'] = pd.to_numeric(df['approx_costfor_two_people'], errors='coerce')
highest_avg_cost = df.groupby('listed_incity')['approx_costfor_two_people'].mean().idxmax()
print(highest_avg_cost)

Church Street

In [39]:
#5
df['rate'] = df['rate'].astype(str)
df['rate'] = df['rate'].str.extract(r'(\d+\.\d+)').astype(float)
high_votes = df[df['votes'] > 1000]
top_rated = high_votes.groupby('rest_type')['rate'].mean().sort_values(ascending=False)
print(top_rated.head(1))

rest_type
Bakery    4.8
Name: rate, dtype: float64

In [55]:
#10
buffet_avg = df[df['listed_intype'] == 'Buffet']['approx_costfor_two_people'].mean()
delivery_avg = df[df['listed_intype'] == 'Delivery']['approx_costfor_two_people'].mean()
cost_diff = abs(buffet_avg - delivery_avg)
print("Average cost difference (Buffet vs Delivery): ₹", int(cost_diff))

Average cost difference (Buffet vs Delivery): ₹ 842

In [57]:
#11
max_votes_online = df[df['online_order'] == 'Yes']['votes'].max()
print("Max votes (online order):", max_votes_online)

Q11: Max votes (online order): 16832

In [59]:
#12
both_cuisines = df[
    df['cuisines'].str.contains('North Indian', na=False) & 
    df['cuisines'].str.contains('Chinese', na=False)
]
avg_rate_both = round(both_cuisines['rate'].mean(), 2)
print("Avg ratingNorth Indian + Chinese:", avg_rate_both)

Avg ratingNorth Indian + Chinese: 3.57

In [67]:
#13
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].replace({',': '', '₹': ''}, regex=True).astype(float)

In [71]:
df['revenue'] = df['approx_costfor_two_people'] * df['votes']

In [73]:
revenue_by_location = df.groupby('listed_incity')['revenue'].sum().sort_values(ascending=False)
print(revenue_by_location.head(1))

listed_incity
Koramangala 7th Block    1.001584e+09
Name: revenue, dtype: float64

In [81]:
#14
df['rate'] = df['rate'].astype(str).str.extract(r'(\d+\.\d+)')
df['rate'] = pd.to_numeric(df['rate'], errors='coerce')
avg_rating_by_type = df.groupby('rest_type')['rate'].mean()
lowest_rated_type = avg_rating_by_type.idxmin()
print("Q14: Focus area (lowest rated type):", lowest_rated_type)

Q14: Focus area (lowest rated type): Dessert Parlor, Kiosk

In [85]:
#8
filtered_df = df[(df['votes'] > 500) & (df['rate'] < 3.0)]
top_locality = filtered_df['listed_incity'].value_counts().idxmax()
print("Locality with most such restaurants:", top_locality)

Locality with most such restaurants: Brookefield

In [89]:
#9
rest_type_diversity = df.groupby('listed_incity')['rest_type'].nunique()
most_diverse = rest_type_diversity.idxmax()
print("ocality with most diverse restaurant types:", most_diverse)

ocality with most diverse restaurant types: BTM

In [91]:
#15
import pandas as pd
df = pd.read_csv(r"C:\Users\hp\Downloads\zomato_data.csv")
df['rate'] = df['rate'].astype(str).str.extract(r'(\d+\.\d+)')
df['rate'] = pd.to_numeric(df['rate'], errors='coerce')
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].astype(str).str.replace(',', '')
df['approx_costfor_two_people'] = pd.to_numeric(df['approx_costfor_two_people'], errors='coerce')
filtered_df = df[
    (df['rate'] > 4.2) &
    (df['votes'] > 500) &
    (df['online_order'].str.lower() == 'yes')
]
location_counts = filtered_df['listed_incity'].value_counts()
top_location = location_counts.idxmax()
print("Top location for investment:", top_location)

Top location for investment: Koramangala 7th Block